{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-portfolio-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
    <div class="intro">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12 order-2 order-md-1">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-md-2">
        <div class="row">
            {{ range .Pages.ByWeight }}
                <div class="col-12  mb-2 ">{{ .Render "summary" }}</div>
            {{ end }}
        </div>
    </div>
{{ end }}