<div class="summary">
    <div class="row align-items-center h-100 mb-5">
        <div class="col-md-8 col-sm-12">
            <a href="{{ .Permalink }}">
                {{ with  (.Resources.GetMatch "full-page.jpg").Fill "600x400 Top" }}
                    <img src="{{ .RelPermalink}}" alt="{{$.Title}}">
                {{ end }}
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <h2>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            {{ .Content | truncate 120 "…" }}
        </div>
    </div>
</div>
