<div class="container pt-2 pb-md-5 ">
    <h3 class="text-center mb-2">
        Πώς μπορούμε να σας βοηθήσουμε
    </h3>
    <div class="row justify-content-start">
        <div class="contact-form m-2">
            <form id="cla-form" class="row"
                  action="https://forms.websolutions.com.cy/f/298bb0a1-7b0c-4c3d-b467-46a31fc6618e" method="post">
                <div class="col-md-6">
                    <input name="full_name" class="inp" type="text" placeholder="Όνομα">
                </div>
                <div class="col-md-6">
                    <input name="email" class="inp" type="email" placeholder="Email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
                </div>
                <div class="col-md-6">
                    <input name="telephone" class="inp" type="tel" placeholder="Τηλέφωνο">
                </div>
                <div class="col-md-6">
                    <input name="website" class="inp" type="text" placeholder="Υπάρχουσα Ιστοσελίδα">
                </div>
                <div class="col-md-12">
                        <textarea name="message" placeholder="Μήνυμα" rows="4"
                                  class="col-md-12 form-message"></textarea>
                </div>

                <div class="col d-flex justify-content-center mb-2">
                    <div class="g-recaptcha" data-sitekey="6LeQCkcjAAAAAMlwij55ao94ezD-7W5iiWizhCs9"></div>
                </div>

                <div class="col-md-12 text-center">
                    <a class="button button-primary" href="javascript:;"
                       onclick="claSubmit();">ΑΠΟΣΤΟΛΗ</a>
                </div>
            </form>
        </div>
    </div>
</div>
