<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="text-center">
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
            {{ partial "logo" }}
        </a>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        ©
        <script>document.write(new Date().getFullYear());</script>
      </p>
    </div>
  </div>
</footer>
