{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
            {{ partial "image" (dict "Src" "large.jpg" "Context" .Page "Class" "mb-2 w-full rounded") }}
          <h1 class="h2 mb-4">
              {{ .Title }}
          </h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
                {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
          <div class="content mb-10">
              {{ .Content }}
          </div>
        </article>
      </div>

      <div class="section pb-0">
        <h3 class="h3 mb-12">Οι Κορυφαίες επιλογές πλατφόρμας ηλεκτρονικού εμπορίου...</h3>
        <h5 class="h5 mb-12">που πληρούν τα σημαντικότερα κριτήρια:</h5>
        <div class="row">
          {{ with .Site.GetPage "/technologies/shopware" }}
          <div class="lg:col-6">
            <div class="bg-body dark:bg-darkmode-body grid grid-rows-[auto,1fr,auto] h-full">
              <a href="{{ .RelPermalink }}">
                <div class="mb-6 w-full h-48 flex justify-center items-center">
                  {{ partial "image" (dict "Src" "logo.svg" "Context" .Page "Class" "max-h-full object-contain rounded") }}
                </div>
              </a>
              <h4 class="mb-3">
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
              </h4>
              <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
                {{ i18n "read_more" }}
              </a>
            </div>
          </div>
          {{ end }}

          {{ with .Site.GetPage "/technologies/sylius" }}
          <div class="lg:col-6">
            <div class="bg-body dark:bg-darkmode-body grid grid-rows-[auto,1fr,auto] h-full">
              <a href="{{ .RelPermalink }}">
                <div class="mb-6 w-full h-48 flex justify-center items-center">
                  {{ partial "image" (dict "Src" "logo.svg" "Context" .Page "Class" "max-h-full object-contain rounded") }}
                </div>
              </a>
              <h4 class="mb-3">
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
              </h4>
              <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
                {{ i18n "read_more" }}
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
