{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
            {{ partial "image" (dict "Src" "large.jpg" "Context" .Page "Class" "mb-2 w-full rounded") }}
          <h1 class="h2 mb-4">
              {{ .Title }}
          </h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
                {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
          <div class="content mb-10">
              {{ .Content }}
          </div>
        </article>
      </div>

          <div class="section pb-0">
            <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
            <div class="row">
              {{ with .Site.GetPage "/technologies/shopware" }}
              <div class="lg:col-4">
                {{ partial "components/blog-card" . }}
              </div>
              {{ end }}
              {{ with .Site.GetPage "/technologies/sylius" }}
              <div class="lg:col-4">
                {{ partial "components/blog-card" . }}
              </div>
              {{ end }}
            </div>
          </div>
    </div>
  </section>
{{ end }}
